.instructions {
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    background-color: #f4f4f4;
    border: 1px solid #ddd;
    max-width: 500px;
}

.instructionsText {
    width: 100%;
    height:fit-content;
    text-align: center
}

.instructionsHeading {
    text-align: center;
}

.green {
 color: rgba(31, 171, 57, 0.70);
}

.yellow {
    color: rgba(212, 165, 55, 0.70);   
}

.gray {
    color: rgba(85, 84, 84, 0.70);
}
