
form {
    max-width: 300px;
    margin: .6rem auto;
    display:flex;
    justify-content: space-between;
}

input {
    font-size: 1.1rem;
    max-width: 150px;
}

button {
    font-size: 1.1rem;
}

label {
    align-content: center;
}

h2 {
    width: 300px;
    margin: auto;
    text-align: center;
}

.resetButton {
    max-width: 100px;
    padding-left: 10px;
}

.container {
    margin-top: 1rem;
    width: 300px;
    border-radius: .75rem;
    background: linear-gradient(#79e2ea, #9198e5);
    margin: auto;
}